@model Proyecto_Agencia.Models.Moto

@{
    ViewData["Title"] = "Delete";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agencia_Automotriz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/crear2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agencia_Automotriz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="conteiner">
    <h1>Eliminar</h1>

    <h3>Estas seguro que deseas eliminar?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Modelo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cantidad)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdMoto" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index" style="color:black">Regresar</a>
        </form>
    </div>
</div>
